body {
    margin: 0;
    padding: 0;
    background-color: #777;
}
/* Seems to stretch canvas to incorrect size
canvas {
    width: 300px;
    height: 300px;
}*/

canvas {
    border: solid 1px;
}

.container {
    padding-top: 100px;
    text-align: center;
    margin: auto;
    /*background-color: #999;*/
}